.EmailBody{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color:#FFFFFF;
}
.EmailContainer{
width: 65%;
height: 75%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 20px;

}
.Emailwrap{
  width: 50%;
  height: 160px;
  display: flex;
  align-items: center;
/* background-color: #1E3B8A; */
  justify-content: center;


  .Emailwrapimg{
    width: 200px;
  }
}

.EmailContainerh3{
font-size: 30px;
}
.EmailContainerp{
font-size: 18px;
font-weight: 180;
display: flex;
gap: 5px;

.EmailContainerpspan{
  color: #3A5298;
}
}
.EmailContainerbutton{
width: 150px;
border: none;
border-radius: 5px;
font-size: 15px;
color: white;
background-color: #1E3B8A;
padding: 15px;
}




@media screen and (max-width: 800px) {
  .EmailContainer{
      width: 90%;
  }

  .EmailContainerbutton{
      width: 80%;
  }

   .EmailContainerp{
      width:80%;
      flex-direction: column;
      text-align: center;
   }

}