.DashboardLayoutbody{
    width: 100%;
    display: flex;

    .DashboardLayoutbodymain1{
        width: 28%;
        /* position: fixed; */
        height: 100vh;
    }
    .DashboardLayoutmain2{
        width: 72%;
    }
}