.Forgetpasswordbody {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: #FFFFFF;
}

.Forgetpasswordmain{
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.Forgetpasswordcontainer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .Forgetpasswordcontainer1p{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
}

.Forgwtpasswordcontainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Forgetpasswordcontainer2span{
    width: 90%;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #929292;
    color: #1E398A;
    gap: 10px;
    border-radius: 5px;
    padding: 12px;
}

.Forgetpaswordcontainerinput {
    border: none;
    outline: none;
}

.Forgetpasswordbutton1 {
    width: 90%;
    padding: 15px;
    background-color: #1E398A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .Forgetpasswordmain {
        width: 90%;
    }

    .Forgetpasswordcontainer3 {
        display: flex;
        font-size: 10px;

        .Signupcontainer3wrap{
            font-size: 11.5px;
        }
    }
.Forgetpasswordcontainer1p{
    width: 90%;
}
  
}