.Hostdashboardbody {
    width: 100%;
    font-family: sans-serif;

    .Hostdashboardbodymain{
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 60px;

        .Hostdashboardbodycontainer1{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .Hostdashboardbodycontainer1h3{
                font-size: 19.5px;
                letter-spacing: 0.7px;
                font-weight: 400;
            }
            .Hostdashboardbodycontainer1wrap{
                width: 95%;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                /* background-color: yellow; */

                .Hostdashboardbodycontainer1art{
                    width: 28.5%;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    border: 1.5px solid #E8E8E8;
                    gap: 10px;

                    .Hostdashboardbodycontainer1arth1{
                        font-size: 30px;
                    }

                    .Hostdashboardbodycontainer1arth3{
                        font-size: 19px;
                        font-weight: 300;
                    }
                }
            }
        }

        .Hostdashboardbodycontainer2{
            width: 95%;
            display: flex;
            gap: 20px;
            flex-direction: column;

            .Hostdashboardbodycontainer2h3{
                font-size: 19.5px;
                letter-spacing: 0.7px;
                font-weight: 400;
            }
            .Hostdashboardbodycontainer2main{
                display: flex;
                justify-content: space-between;

                .Hostdashboardbodycontainer2mainart1{
                    width: 39%;
                    height: 285px;
                    border-radius: 5px;
                    border: 1.5px solid #DDDDDD;
                }
                .Hostdashboardbodycontainer2mainart2{
                    width: 50%;
                    height: 285px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .Hostdashboardbodycontainer2mainart2div{
                        width: 100%;
                        height: 47%;
                        border:  1.5px solid #EBEBEB;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 20px;
                        gap: 7px;
                        background-color: #F5F5F5;

                        .Hostdashboardbodycontainer2mainart2divh1{
                            font-size: 25px;
                            letter-spacing: 0.7px;
                            color: #1E3B8A;
                        }
                        .Hostdashboardbodycontainer2mainart2divh3{
                            font-size: 19px;
                            color: #1E3B8A;
                            letter-spacing: 0.6px;
                        }
                        .Hostdashboardbodycontainer2mainart2divp{
                            font-size: 15px;
                            font-weight: 300;
                            color: #828282;
                        }
                        .Hostdashboardbodycontainer2mainart2divbut{
                            width: 25%;
                            padding: 9px;
                            background-color: #F2994A;
                            color: #FFFFFF;
                            border-radius: 3px;
                            border: none;
                        }
                    }
                }
            }
        }

        .Managelistmainart2 {
            width: 95%;
            display: flex;
            flex-direction: column;
            /* background-color: blue; */

            .Managelistmainart2head{
                width: 100%;
                display: flex;
                padding: 10px;
                background-color: #1E398A;
                justify-content: space-between;

                .Managelistmainart2headspan{
                    width: 18%;
                    color: #FFFFFF;
                    font-size: 14px;
                    letter-spacing: 0.6px;
                }

                .Managelistmainart2headspan1{
                    width: 13.5%;
                    color: #FFFFFF;
                    font-size: 14px;
                    letter-spacing: 0.6px;
                    display: flex;
                    justify-content: flex-end;
                }
                .Managelistmainart2headspan2{
                    width: 13.5%;
                    color: #FFFFFF;
                    font-size: 14px;
                    letter-spacing: 0.6px;
                    display: flex;
                    justify-content: center;
                }
            }
            .Managelistmainart2main{
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 25px;

                .Managelistmainart2mainwrap{
                    width: 100%;
                    display: flex;
                    /* padding: 10px; */
                    justify-content: space-between;

                    .Managelistmainart2maindiv{
                        width: 20%;
                        display: flex;
                        gap: 10px;


                        .Managelistmainart2maindivspan1{
                            width: 45px;
                            height: 35px;
                            object-fit: contain;
                            background-color: orange;

                            .Managelistmainart2maindivspan1img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .Managelistmainart2maindivspan2{
                            display: flex;
                            font-size: 13px;
                            font-weight: 300;
                            /* background-color: blue; */
                            justify-content: space-between;
                            flex-direction: column;

                        }
                    }
                     .Managelistmainart2maindiv1{
                        width: 13.5%;
                        display: flex;
                        font-size: 13px;
                        font-weight: 300;
                        align-items: center;
                        /* background-color: blue; */
                        justify-content: center;

                        .Managelistmainart2maindiv1but{
                            width: 100%;
                            border: none;
                            font-size: 11px;
                            font-weight: 200;
                            border-radius: 3px;
                            padding: 7px;
                            cursor: pointer;
                            background-color: #1E398A;
                            color: #FFFFFF;
                        }

                        .Managelistmainart2maindiv1spanXX{
                            width: 80px;
                            border-radius: 12px;
                            display: flex;
                            padding: 10px;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            justify-content: center;
                        }
                    }

                    .Managelistmainart2maindiv2{
                        width: 13.5%;
                        display: flex;
                        flex-direction: column;
                        font-size: 13px;
                        font-weight: 300;
                        align-items: baseline;
                        /* background-color: blue; */
                        gap: 2px;
                        justify-content: center;  

                        .Managelistmainart2maindiv2p{
                            font-size: 10px;
                        font-weight: 300;
                        }
                    }
                    
                }

                .Managelistmainart2mainview{
                    width: 100%;
                    font-weight: 300;
                    display: flex;
                    justify-content: flex-end;
                    color: #1E398A
                }
            }
        }

        .Hostdashboardbodycontainer1X{
            display: none !important;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 800px) {
    .Hostdashboardbodymain{
        /* display: flex; */
        align-items: center;
        padding: 10px !important;
    }
  .Hostdashboardbodycontainer1{
    display: none !important;
  }


  .Hostdashboardbodycontainer2{
    display: flex;

    .Hostdashboardbodycontainer2h3{
        display: none;
    }
    .Hostdashboardbodycontainer2mainart1{
        display: none;
    }
    .Hostdashboardbodycontainer2mainart2{
        width: 100% !important;
        height: auto !important;
        gap: 17px;
    }
    .Hostdashboardbodycontainer2mainart2div{
        height:  auto !important;
        gap: 20px;
        padding: 12px !important;

        .Hostdashboardbodycontainer2mainart2divh1{
            font-size: 17px !important;
            font-weight: 490;
        }
        .Hostdashboardbodycontainer2mainart2divh3{
            font-size: 16px !important;
            font-weight: 490;
        }
        .Hostdashboardbodycontainer2mainart2divp{
            /* font-weight: ; */
            font-size: 12px !important;
        }
        .Hostdashboardbodycontainer2mainart2divbut{
            width: 32% !important;
        }
    }
  }

  .Hostdashboardbodycontainer1X{
    display: flex !important;
    height: 49vh;
    background-color: yellow;

    .Hostdashboardbodycontainer1XX{
        display: flex;
    }
  }
}