.Allspacebody{
    width: 100%;
    font-family: sans-serif;
}
.Allspacemain{
    width: 100%;
    display: flex;
    gap: 45px;
    background-color: #FFFFFF;

    .Allspacecontainer1{
        width: 28%;
        height: 100vh;
        background-color: #F4F4F4;
    }

    .Allspacecontainer2{
        width: 61%;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .Allspacecontainer2wrap{
            width: 100%;
            gap: 15px;
            padding: 18px;
            border-radius: 5px;
            border: 1px solid #C0C0C0;
            display: flex;

            .Allspacecontainer2wrapXX{
                width: 33%;
                height: 205px;
                background-color: yellow;

                .Allspacecontainer2wrapXXing{
                    width: 100%;
                    height: 100%;
                }
            }

            .Allspacecontainer2wrapXXX{
                width: 67%;
                height: 205px;
                display: flex;
                gap: 25px;

                .Allspacecontainer2wrapXXX1{
                    width: 47%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .Allspacecontainer2wrapXXX1d1{
                      width: 100%; 
                      display: flex;
                      flex-direction: column;
                      gap: 2px;

                        .Allspacecontainer2wrapXXX1d1h3{
                            font-size: 18px;
                            color: #1E398A;
                            font-weight: 590;
                        }

                        .Allspacecontainer2wrapXXX1d1h3icon{
                            color: #FDD835;
                            display: flex;
                            gap: 3px;
                            font-size: 12px;
                        }
                    }
                    .Allspacecontainer2wrapXXX1d2{
                        font-size: 13px;
                        font-weight: 300;
                    }
                    .Allspacecontainer2wrapXXX1d3{
                        display: flex;
                        gap: 9px;
                        font-size: 23px;
                    }
                    .Allspacecontainer2wrapXXX1d4{
                        font-size: 13px;
                        font-weight: 300;
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        .Allspacecontainer2wrapXXX1d4ii{
                            font-size: 25px;
                        }
                    }
                }

                .Allspacecontainer2wrapXXX2{
                    width: 53%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    /* background-color: yellow; */

                    .Allspacecontainer2wrapXXX2d1{
                        display: flex;
                        gap: 5px;

                        .Allspacecontainer2wrapXXX2d1main{
                            width: 50%;
                            border: 1px solid #828282;
                            background-color: #FFFFFF;
                            height: 80px;
                            border-radius: 5px;
                        }
                    }

                    .Allspacecontainer2wrapXXX2d2{
                        width: 100%;
                        display: flex;
                    flex-direction: column;
                    gap: 13px;

                        .Allspacecontainer2wrapXXX2d2main1{
                            display: flex;
                            font-size: 17px;
                            color: #000000;
                            align-content: center;
                            justify-content: flex-end;
                        }

                        .Allspacecontainer2wrapXXX2d2main2{
                            display: flex;
                            align-items: flex-end;
                            /* background-color: blue; */
                            justify-content: space-between;

                            .Allspacecontainer2wrapXXX2d2main2div1{
                                display: flex;
                                font-size: 20px;
                                /* background-color: red; */
                                font-weight: 250;
                                align-items: center;
                                justify-content: center;
                                gap: 20px;
                                
                            }

                            .Allspacecontainer2wrapXXX2d2main2div2{ 
                                font-size: 13px;
                                font-weight: 300;
                            }
                            .Allspacecontainer2wrapXXX2d2mainbut{
                                padding: 15px;
                                width: 50%;
                                color: #FFFFFF;
                                font-size: 15px;
                                background-color: #1E3B8A;
                                border: none;
                                border-radius: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
}