.Allspacebody {
    width: 100%;
    font-family: sans-serif;
}

.Allspacemain {
    width: 100%;
    display: flex;
    gap: 45px;
    background-color: #FFFFFF;

    .Allspacecontainer1 {
        width: 28%;
        height: 100vh;
        background-color: #F4F4F4;
    }

    .Allspacecontainer2{
        width: 61%;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .Allspacecontainer2wrap{
            width: 100%;
            gap: 15px;
            padding: 18px;
            border-radius: 5px;
            border: 1px solid #C0C0C0;
            display: flex;

            .Allspacecontainer2wrapXX{
                width: 33%;
                height: 205px;
                object-fit: contain;

                .Allspacecontainer2wrapXXing{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .Allspacecontainer2wrapXXX{
                width: 67%;
                height: 205px;
                display: flex;
                gap: 25px;

                .Allspacecontainer2wrapXXX1{
                    width: 47%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .Allspacecontainer2wrapXXX1d1{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        .Allspacecontainer2wrapXXX1d1h3{
                            font-size: 18px;
                            color: #1E398A;
                            font-weight: 590;
                        }

                        .Allspacecontainer2wrapXXX1d1h3icon{
                            color: #FDD835;
                            display: flex;
                            gap: 3px;
                            font-size: 12px;
                        }
                    }

                    .Allspacecontainer2wrapXXX1d2{
                        font-size: 13px;
                        font-weight: 300;
                    }

                    .Allspacecontainer2wrapXXX1d3{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        font-size: 23px;
                    }

                }


                .Allspacecontainerlocation{
                    font-size: 13px;
                    font-weight: 300;
                    display: flex;
                   justify-content: center;
                    gap: 8px;
                    align-items: center;

                    .Allspacecontainerlocationxx {
                        font-size: 25px;
                        color: red;
                    }
                }

                .Allspacecontainer2wrapXXX2 {
                    width: 53%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;

                    .Allspacecontainer2wrapXXX2d2XX{
                        display: none;
                    }

                    .Allspacecontainer2wrapXXX2d1 {
                        display: flex;
                        gap: 5px;

                        .Allspacecontainer2wrapXXX2d1main{
                            width: 100%;
                            border: 1px solid #828282;
                            background-color: #FFFFFF;
                            height: 80px;
                            border-radius: 5px;

                            .Allspacecontainer2wrapXXX2d1maindate{
                                width: 100%;
                                height: 40px !important;
                                /* background-color: blue; */
                                border: none;
                            }
                        }
                    }

                    .Allspacecontainer2wrapXXX2d2 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 13px;



                        .Allspacecontainer2wrapXXX2d2main1 {
                            display: flex;
                            font-size: 17px;
                            color: #000000;
                            align-content: center;
                            justify-content: center;
                        }

                        .Allspacecontainer2wrapXXX2d2main2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;


                            .Allspacecontainer2wrapXXX2d2main2div1 {
                                display: flex;
                                font-size: 20px;
                                font-weight: 250;
                                align-items: center;
                                justify-content: center;
                                gap: 20px;

                            }

                            .Allspacecontainer2wrapXXX2d2main2div2 {
                                font-size: 13px;
                                font-weight: 300;
                            }

                            .Allspacecontainer2wrapXXX2d2mainbut {
                                padding: 15px;
                                width: 80%;
                                color: #FFFFFF;
                                font-size: 15px;
                                background-color: #1E3B8A;
                                border: none;
                                border-radius: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
    .mainerror{
        width: 90%;
        background-color: #FFF2C9;
        border: 1px solid #E9CB6D;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: center;
        font-size: 13px;
        border-radius: 3px;
        font-weight: 300;
    }
    .mainerroricon{
        color: #E2B93C;
    }
}


@media screen and (max-width: 800px) {
    .Allspacemain {
        width: 100%;
        flex-direction: column;

        .Allspacecontainer1 {
            display: none;

        }

        .Allspacecontainer2 {
            width: 100%;
            gap: 20px;

            .Allspacecontainer2wrap {
                border: none;
                gap: 10px;

                .Allspacecontainer2wrapXX{
                    width: 50%;
                    height: 300px;
                    object-fit: contain;


                }

                .Allspacecontainer2wrapXXX{
                    width: 50%;
                    gap: 15px;
                    flex-direction: column;


                    .Allspacecontainer2wrapXXX1 {
                        width: 100%;
                        gap: 7px;

                        .Allspacecontainer2wrapXXX1d1 {
                            width: 100%;


                            .Allspacecontainer2wrapXXX1d1h3 {
                                font-size: 15px;
                            }
                        }

                        .Allspacecontainer2wrapXXX1d2 {
                            width: 90%;
                            font-size: 12px;
                        }

                        .Allspacecontainer2wrapXXX1d3 {
                            font-size: 17px;
                        }

                        .Allspacecontainer2wrapXXX1d4 {
                            font-size: 10px;

                            .Allspacecontainer2wrapXXX1d4ii {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

        }

        .Allspacecontainer2wrapXXX2{
            min-width: 100%;
            gap: 7px !important;

            .Allspacecontainer2wrapXXX2d1{
                width: 100%;


                .Allspacecontainer2wrapXXX2d1main{
                    width: 44%;
                    height: 65px !important;
                }

            }


            .Allspacecontainer2wrapXXX2d2{
                display: none !important;
            }

            .Allspacecontainer2wrapXXX2d2XX{
                display: flex !important;
                gap: 5px;
                flex-direction: column;

                .Allspacecontainer2wrapXXX2d2main1x{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .Allspacecontainer2wrapXXX2d2main1xwrap{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center; 

                        .Allspacecontainer2wrapXXX2d2main1xwrapdiv1{
                            display: flex;
                            gap: 7px;
                            font-size: 13px;
                        }
                        .Allspacecontainer2wrapXXX2d2main1xwrapdiv2{
                            font-size: 10px;
                            font-weight: 180;
                           
                        }
                    }

                    .Allspacecontainer2wrapXXX2d2main1xwrappp{
                        font-size: 12.5px;
                        width: 50%;
                    }
                }

                .Allspacecontainer2wrapXXX2d2mainbut{
                    width: 100%;
                    background-color: #1E3B8A;
                    color: #FFFFFF;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }


  
    }


}