.Signupbody {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;

}

.Signupmain {
    width: 40%;
    display: flex;
    gap: 20px;
    padding: 0 15px 15px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignupBackbutton{
    width: 55%;
    padding: 15px;
}

.SignupIconButton{
    font-size: 25px;
    color: #1E398A;
}

.Signupcontainer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .Signupcontainer1p {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }

    .Signupcontainer1img{
        width: 150px;
    }
}

.Signupcontainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Signupcontainer2span {
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #929292;
    color: #1E398A;
    gap: 10px;
    align-items: center;
    /* justify-content: space-between; */
    border-radius: 5px;
    padding: 12px;
}

.Signupcontainer2span1{
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #929292;
    color: #1E398A;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 12px;
}

.Signupcontainerinput {
    background-color: transparent;
    width: 90%;
    border: none;
    outline: none;
}

.Signupcontainer2spanerror {
    color: red;
    width: 100%;
    padding-left: 12px;
    font-size: 12px;
}

.Signupbutton1 {
    width: 100%;
    padding: 15px;
    background-color: #1E398A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.Signupcontainer3 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 5px;
    font-weight: 200;

    .Signupcontainer3wrap {
        font-size: 15px;
        font-weight: 350;
        color: #1E398A;
    }
}

.Signupcontainer4 {
    width: 90%;
    gap: 70px;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 13px;
    justify-content: center;
}

.Signupcontainer3span {
    width: 30%;
    flex: 1;
    height: 1px;
    background-color: #E0E0E0;
}

.Signupbutton2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #A1A1A1;
    padding: 12px;

    .Signupbutton2icon {
        font-size: 19px;
    }
}


@media screen and (max-width: 800px) {
    .Signupmain {
        width: 90%;
    }

    .Signupcontainer1h1 {
        width: 90%;
        display: flex;
        justify-content: center;
        font-size: 22px;
    }

    .Signupcontainer1p {
        line-height: 18px;
    }

    .Signupcontainer3 {
        display: flex;
        font-size: 10px;

        .Signupcontainer3wrap {
            font-size: 11.5px;
        }
    }

    .SignupBackbutton{
        width: 95%;
    }

/* .Signupcontainer3{
  flex-direction: column;
  align-items: center;
}
.Signupcontainer3wrap{
    width: 100%;
} */
}