.Headerbody{
    width: 100%;
    height: 11.5vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #FFFFFF;
}

.Headermain{
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Headermain:hover{
    cursor: pointer;
}

.Headerdiv1{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .Headerdiv1img{
        width: 150px;
    }
}

.Headerdiv2{
    width: 32%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #A1A1A1;

     .Headerdiv2input{
        width: 80%;
        border: none;
        outline: none;
        background-color: transparent;
    }
    .Headerdiv2icon{
        color: #828282;
        font-size: 25px;
    }
}
.Headerdiv3{
    /* width: 36%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .Headerdiv3XX{
        font-size: 18px;
        color: #1E398A;
        font-weight: 450;
    }
    .Headerdiv3X:hover{
        cursor: pointer;
        color: #243c84;
    }
    .Headerdiv3X{
        color: #000000;
        font-size: 18px;
        font-weight: 300;
    }
}
.Headerdiv3main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.Headerdiv3mainshow{
    position: absolute;
    background-color: #FFFFFF;
    top: 63px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 8px;
}

.Headerdiv3mainshowp:hover{
  background-color: #1E398A;
  color: #FFFFFF;
  padding: 5px;
}
.Headerdiv3span{
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 50%;

    .Headerdiv3spanicon{
        width: 100%;
       color: #1E398A;
        height: 100%;
    }

}
.Headerdiv3spanX{
    display: flex;


    .Headerdiv3spanXbut1{
        width: 90px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
    }

    .Headerdiv1XXdropdownspanbutdrop{
        border-top: 1.5px solid #1E3C8A;
        border-radius: 4px 0 4px 0px;
        position: absolute;
        display: flex;
        width: 115px;
        font-weight: 300;
        flex-direction: column;
        background-color: #FFFFFF;
        bottom: -75px;
        top: 82px;
        z-index: 100;
        /* gap: 2px; */
        font-size: 14px;
    }

    .Headerdiv1XXdropdownspanbutdroptag{
        /* background-color: yellow; */
        
        padding: 2.5px;
        height: 43px;
        display: flex;
        align-items: center;
    }

    .Headerdiv1XXdropdownspanbutdroptag:hover{
        background-color: #1E3C8A;
        color: #DCE1EC;
        cursor: pointer;
        border-radius: 3px 0 3px 0;
    }
    
    .Headerdiv3spanXbut2{
        width: 90px;
        padding: 9px;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        position: relative;
        cursor: pointer;
        background-color: #1E3B8A;
    }
    .Headerdiv1XXdropdownspanbutdrop1{
        border-top: 1.5px solid #1E3C8A;
        border-radius: 4px 0 4px 0px;
        position: absolute;
        display: flex;
        width: 115px;
        font-weight: 300;
        flex-direction: column;
        background-color: #FFFFFF;
        right: 75px;
        bottom: -75px;
        top: 82px;
        font-size: 14px;
    }
}


.Headerdiv1XX{
    display: none;
}

@media screen and (max-width: 800px){
    .Headerbody{
        width: 100%;
        height: auto;
        z-index: 10;
    }
    .Headerdiv1XX{
        width: 100%;
        padding: 25px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .Headerdiv1XXmain{
            width: 100%;
            align-items: center;
            font-size: 30px;
            justify-content: space-between;
            display: flex;
            

            .Headerdiv1XXmainimg{
                width: 100px;
            }
        }

     
        .Headerdiv1XXdropdown{
            display: flex;
            width: 100%;
            gap: 15px;
            align-items: flex-end;
            color: #1E3C8A;
            font-size: 17px;
            font-weight: 300;
            flex-direction: column;
            z-index: 1000;

            .Headerdiv1XXdropdownspan{
                width: 100%;
                /* padding-top: 25px; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .Headerdiv1XXdropdownspanshow{
                    width: 100%;
                    display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                gap: 10px;
                    /* background-color: blue; */
                }

                .Headerdiv1XXdropdownspanbutdropis{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    cursor: pointer;
                    padding: 5px 0 5px 0px;
                }

                .Headerdiv1XXdropdownspanbutdroptag{
                    padding: 10px;
                }

                .Headerdiv1XXdropdownspanbutdroptag:hover{
                    background-color: #1E3C8A;
                    color: #DCE1EC;
                    cursor: pointer;
                    border-radius: 3px 0 3px 0;
                }

                .Headerdiv1XXdropdownspanbut{
                    width: 30%;
                    background-color: #1E3C8A;
                    color: #E3E7F0;
                    border: none;
                    border-radius: 2px;
                    padding: 6px;
                }
            }
        }
    }


    .Headermain{
        display: none;
    }
}