.Resetbody {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    position: relative;
}

.Resetmain{
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.Resetcontainer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .Resetcontainer1p{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
}

.Logincontainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Resetcontainer2span{
    width: 90%;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #929292;
    color: #1E398A;
    gap: 10px;
    border-radius: 5px;
    padding: 12px;
}

.Resetcontainerinput {
    border: none;
    outline: none;
}

.Resetbutton1 {
    width: 90%;
    padding: 15px;
    background-color: #1E398A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.resetHeader{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
.resetBackbutton{
    position: absolute;
    border-radius: 35px;
    left: 5%;
    top: 10%;
}
.resetIconButton{
    width: 100%;
    height: 100%;
    font-size: 50px;
}

@media screen and (max-width: 800px) {
    .Resetmain {
        width: 90%;
    }

    .Resetcontainer3 {
        display: flex;
        font-size: 10px;

        .Signupcontainer3wrap{
            background-color: yellow;
            font-size: 11.5px;
        }
    }
.Resetcontainer1p{
    width: 90%;
    line-height: 23px;
}
.resetBackbutton{
    position: absolute;
    border-radius: 35px;
    left: 2%;
    top: 20%;
}

.resetIconButton{
    width: 100%;
    height: 100%;
    font-size: 30px;
}
.resetHeader{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
  
}